extends layout

block content
  h1= title
  p Welcome to #{title}
  if !user
    p 
      ="Welcome! Please" 
      |  #[a(href='/login') log in] 
      |  .
  else
    p
      = "Hello,"
      | #{ user.username }
      | . View your 
      |  #[a(href="/profile") profile]
      | .
